*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}

main{
    font-family: sans-serif;
    background: #A7ABBA;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.preloader{
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 20% 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 100;
    display: grid;
    justify-content: center;
}

.spinner {
    width: 60px;
    height: 60px;
    position: relative;
   }
   
   .spinner .dot {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
   }
   
   .spinner .dot::after {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgb(12, 180, 231);
   }
   
   @keyframes spin {
    to {
     transform: rotate(360deg);
    }
   }
   
   .spinner .dot {
    animation: spin 2s infinite;
   }
   
   .spinner .dot:nth-child(2) {
    animation-delay: 100ms;
   }
   
   .spinner .dot:nth-child(3) {
    animation-delay: 200ms;
   }
   
   .spinner .dot:nth-child(4) {
    animation-delay: 300ms;
   }
   
   .spinner .dot:nth-child(5) {
    animation-delay: 400ms;
   }
:root{
    --backgroun-color: linear-gradient(180deg, #0496FF 0%, rgba(126.77, 190.40, 236.47, 0.44) 97%, rgba(78.94, 174.50, 243.71, 0.66) 100%, rgba(222.06, 222.06, 222.06, 0) 100%, rgba(1.06, 41.69, 255, 0) 100%); 

}

.container{
    padding: 25px;
    background: white;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-radius: 15px;
    width: 60%;
    box-shadow: 1px 2px 10px black;
}

.wrapper{
    background: var(--backgroun-color);
    display: grid;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    transition: 0.3s;
    
}

.wrapper p{
    width: 100%; 
    height: 100%; 
    color: #4D4B4B;
    font-size: 15px; 
    font-weight: 400; 
    word-wrap: break-word"
}
.wrapper h2{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 30px;
}

.imgwrppr{
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper img{
    width: 70%;
    border-radius: 15px;

}

/* sign up css */

.getStarted{
    width: 100%;
    display: grid;
    transition: ease-in-out 1s;
}

.getStarted p, label{
    color: #4D4B4B;
}

.getStarted form{
    display: grid;
}

.getStarted label{
    margin-top: 5px;
}

.getStarted form input{
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0); 
    border: 1px #4D4B4B solid
}

.getStarted button{
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    background: #1F82F6;
    border: 1px solid #1F82F6;
    font-size: 17px;
    color: white;
}

.getStarted a{
    text-decoration: none;
    color: #0496FF;
}

.signup{
    display: grid;
    opacity: 0;
    width: 0;
    transition: ease-in-out 1s;
}

.signup p, label{
    color: #4D4B4B;
}

.signup form{
    display: grid;
}

.signup label{
    margin-top: 5px;
}

.signup form input{
    height: 35px;
    border-radius: 5px;
    font-size: 20px;
    background: rgba(0, 0, 0, 0); 
    border: 1px #4D4B4B solid
}

.signup button{
    margin-top: 10px;
    height: 40px;
    border-radius: 5px;
    background: #1F82F6;
    border: 1px solid #1F82F6;
    font-size: 17px;
    color: white;
}

.signup a{
    text-decoration: none;
    color: #0496FF;
}